#skillsContainer {
    text-align: center;
}

.icon-item {
    display: inline-block;
    padding: 12px 16px;
    text-align: center;
    vertical-align: top;
}

.icon-label {
    font-size: 0.55em;
    margin-top: 8px;
    margin-bottom: 0;
}
