#bg {
  min-height: 100vh;
  background-image: url(http://i.imgur.com/tTKyQb0.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#landingLogoContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pressStart {
  padding-left: 175px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
