html {
  scroll-behavior: smooth;
}

#navbarContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
  margin: 0 !important;
  border-radius: 0 !important;
}

#mainContainer {
  margin: 24px;
}

section {
  padding: 20px 0;
}
